.app {
    font-family: sans-serif;
    padding-top: 48px;
    padding-bottom: 48px;
  }
  
  @media screen and (min-width: 1000px) {
    .app {
      padding-left: 32px;
      padding-right: 32px;
    }
  }
  
  .title {
    text-align: center;
    margin-bottom: 32px;
  }

#add{
  width: 20%;
}